<html>
    <head>
        {# This is a Jinja2 comment line. #}
        {# Jinja2 renders templates - anything between curly braces is interpreted
           by Jinja2. #}
        {% if title %}
            <title>The Journal - {{ title }}</title>
        {% else %}
            <title>Welcome to the Journal!</title>
        {% endif %}
    </head>
    <body>
        <div>
            {# Rather than using explicit URLs which may be difficult to update
               later on, use url_for and the view function which handles the URL. #}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('main') }}">Home</a>
            {% if current_user.is_anonymous %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('login') }}">Login</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('register') }}">Sign Up</a>
            {% else %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('entry') }}">Create a Journal Entry</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logged in as {{ current_user.username }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <h2>The Journal{% if title %} - {{ title }}: {% else %}:{% endif %}</h2>
        <hr>

        {# Flashed messages are one time notification messsages to users #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {# This section will be filled in by specific templates: #}
        {% block content %}
        {% endblock %}
    </body>
</html>

